@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --paragraph: hsla(0, 0%, 100%, 0.75);
    --rest: hsl(0, 0%, 95%);
}

* {
    margin: 0;
}

body {
    min-height: 100vh;
    background-color: var(--rest);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1, button {
    color: var(--rest);
}

h1 {
    margin: 25px 0;
    font-family: "Big Shoulder Display", sans-serif;
}

p {
    margin-bottom: 70px;
    font-family: "Lexend Deca";
    color: var(--paragraph);
    line-height: 25px;
}

button {
    padding: 15px 25px;
    border-radius: 30px;
    border: none;
}

.cards {
    margin: 20px;
    min-height: 450px;
    overflow: hidden;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-auto-rows: 450px;
}

.card {
    padding: 40px;
}

.card:nth-child(1) {
    background-color: var(--bright-orange);
}
.card:nth-child(1) button {
    color: var(--bright-orange);
}
.card:nth-child(2) {
    background-color: var(--dark-cyan);
}
.card:nth-child(2) button {
    color: var(--dark-cyan);
}
.card:nth-child(3) {
    background-color: var(--very-dark-cyan);
}
.card:nth-child(3) button {
    color: var(--very-dark-cyan);
}

.attribution {
    font-family: "Lexend Deca";
}

@media screen and (max-width: 550px) {
    .cards {
        grid-template-columns: 300px;
    }
}